@model IEnumerable<University.Models.Partner>

@{
    ViewBag.Title = "Index";
}

<h2>Partners</h2>
<p>Here you can find all of our partners. You can create, read, update and delete them.</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartnerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartnerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PartnerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PartnerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PartnerID })
        </td>
    </tr>
}

</table>
